
.filter-box {

    background-color: #fff;

    border: 1px solid #c6c3c3;

    border-radius: 5px;

    box-shadow: 0 1px 4px #eae7e7;

    margin: 0 auto 20px;

    width: 98%;

}

 

.filter-box-text-box {

    background-color: #354664;

    border-top-left-radius: 3px;

    border-top-right-radius: 3px;

    color: #fff;

    font-family: calibri;

    font-size: 23px;

    font-weight: 300;

    padding: 12px 0 12px 11px;

}
